/*FONTS
font-family: 'Inconsolata', monospace;
font-family: 'Noto Sans', sans-serif;
*/

body{
    margin: 0;
    background-color:black;
    font-family: 'Noto Sans', sans-serif;
}

.nav{
    display: wrap;
    position: fixed;
    top:0;
    width:100%;
    color: #fff;
    padding: 10px;
    align-items: center;
}

.nav-menu{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 10px;
    
}

.nav-menu_right{
    float: right;
    font-family:inconsolata;
    margin: 10px;
    font-size: 18px;
}
.nav-menu_left{
    float: left;
    margin: 5px;
}

.nav-menu-left_logo{
    width: 200px;
    height: auto;
}

.social-links {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.main{
    margin-top: 100px;
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


h1 {
    color: #fff;
    font-size: 32px;
    font-family:'Inconsolata', monoespace;
    text-align: center;
}

p {

    color: #fff;
    text-align: center;
    font-size:24px
}


fa-twitter{
    
    color: #fff;
    margin: 10px;
}

fa-github{
    
    color: #fff;
    margin:10px;
}

fa-dev{
    
    color: #fff;
    margin:10px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {

    max-width: 100%;
    height: auto;
}


/* MEDIA QUERY*/

  
  /* If the screen size is 600px wide or less */
  @media screen and (max-width: 600px) {
    p{
        color: #fff;
        text-align:center;
        font-size:14px
    }

    h1 {
        font-size: 18px;
    }

  }