/*FONTS
font-family: 'Inconsolata', monospace;
font-family: 'Noto Sans', sans-serif;
*/

/*COLOR PALETTE
Black #OOOOOO;
Dark Grey #171717;
Yellow: #FFCD3A
Light Yellow: #FFE8A5;
*/

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top:0;
    width:100%;
    color: #fff;
    background-color: black;
}

.header_logo {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    }

.logo-yellow {
    color:#FFCD3A; 
    font-weight: bold;
    font-family: Noto Sans;
    font-size: 36px;
}
.logo-white {
    color:#FFF; 
    font-weight: bold;
    font-family: Noto Sans;
    font-size: 36px;
}

#logo-beat{
    animation-name: logo-beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes logo-beat{
    from{color: black;}
    to{color:#FFCD3A;}
}

.nav{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #171717;
}

.nav-menu{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-family: Inconsolata;
    list-style-type: none;

} 

.nav-menu_item {
    font-family:inconsolata;
    color: #fff;
    margin: 0px;
    padding: 5px;
    font-size: 24px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color:#171717;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 60px;
}
/*ELEMENTS*/


h1 {
    color: #fff;
    font-size: 32px;
    font-family:'Inconsolata', monoespace;
    text-align: center;
}

p {

    color: #fff;
    text-align: center;
    font-size:24px
}


fa-twitter{
    
    color: #fff;
    margin: 10px;
}

fa-github{
    
    color: #fff;
    margin:10px;
}

fa-dev{
    
    color: #fff;
    margin:10px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {

    max-width: 100%;
    height: auto;
}

#social-links {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

/* MEDIA QUERY*/

  
  /* If the screen size is 600px wide or less */
  @media screen and (max-width: 600px) {
    p{
        color: #fff;
        text-align:center;
        font-size:14px
    }

    h1 {
        font-size: 18px;
    }

    .nav-menu_item {
        font-family:inconsolata;
        color: #fff;
        margin: 10px;
        padding: 10px;
        font-size: 18px;
    }

  }