/*FONTS
font-family: 'Inconsolata', monospace;
font-family: 'Noto Sans', sans-serif;
*/

/*COLOR PALETTE
Black #OOOOOO;
Dark Grey #171717;
Yellow: #FFCD3A
Light Yellow: #FFE8A5;
*/

body{
    margin: 0;
    background-color:black;
    font-family: 'Noto Sans', sans-serif
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top:0;
    width:100%;
    color: #fff;
}

.header_logo {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.logo-yellow {
    color:#FFCD3A; 
    font-weight: bold;
    font-family: Noto Sans;
    font-size: 36px;
}
.logo-white {
    color:#FFF; 
    font-weight: bold;
    font-family: Noto Sans;
    font-size: 36px;
}


#logo-beat{
    animation-name: logo-beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes logo-beat{
    from{color: black;}
    to{color:#FFCD3A;}
}


.nav{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #171717;
}

.nav-menu{
    display: flex;
    /*flex-direction: row;*/
    font-family: Inconsolata;
    list-style-type: none;
    margin: 5px;
    
    /* overflow: hidden;
    padding: 10px;    
    */
} 

.nav-menu_item {
    font-family:inconsolata;
    display:inline;
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}

/*
.nav-menu_left{
    float: left;
    margin: 5px;
}

.nav-menu-left_logo{
    width: 200px;
    height: auto;
}

.social-links {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
*/
.main{
    margin-top: 100px;
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coderlog-obj {
    display:flex;
    flex-direction:row;
    align-items: center;
}
.coderlog-mustache {
    font-size: 10em;
    color: #fff;
    /*background-color: grey;*/
}

.coderlog-keys ul {
    color:#fff;
    /*background-color: #333333;*/
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color:#171717;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
}
/*ELEMENTS*/


h1 {
    color: #fff;
    font-size: 32px;
    font-family:'Inconsolata', monoespace;
    text-align: center;
}

p {

    color: #fff;
    text-align: center;
    font-size:24px
}


fa-twitter{
    
    color: #fff;
    margin: 10px;
}

fa-github{
    
    color: #fff;
    margin:10px;
}

fa-dev{
    
    color: #fff;
    margin:10px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {

    max-width: 100%;
    height: auto;
}

#social-links {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

/* MEDIA QUERY*/

  
  /* If the screen size is 600px wide or less */
  @media screen and (max-width: 600px) {
    p{
        color: #fff;
        text-align:center;
        font-size:14px
    }

    h1 {
        font-size: 18px;
    }

  }